*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(images/background.png) no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

@media screen and (min-width: 769px) {
  main {
    background: var(--black);
    background-image: url(images/background-desktop.png) no-repeat center/cover;
  }
  .container {
    max-width: 358px;
    height: 540px;
    background-color: #202024;
    background-image: url(images/cracha.png);
    position: relative;
  }
  .container::after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(161.24deg, #ff008e -15.25%, #ffcd1e 111.89%);
    width: 64px;
    height: 200px;
    top: -182px;
    left: 42%;
  }
  .container::before {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--black);
    width: 80px;
    height: 8px;
    top: 1rem;
    left: 40%;
  }
  .avatar > img {
    margin-top: 72px;
  }
  .avatar span {
    top: 55px;
  }
}
